.banner-principal__img
  img
    animation: float 6s ease-in-out infinite

@keyframes float
  0%
    transform: translatey(0px)
  50%
    transform: translatey(-20px)
  100%
    transform: translatey(0px)

.banner-principal__componente
  h1
    color: $color-secundario !important

.BG10, .bloque-texto-a.color-primario::before, .bloque-texto-b.color-primario::before, .cajon.color-primario, .bloque-texto-f.color-secundario::before
  background-color:  lighten($color-primario, 30%) !important

.BG20
  background-color: transparentize($color-secundario, 0.8) !important

.BG30
  background-color: lighten($color-acento-contenido, 32%) !important

.BG40
  background-color: lighten($color-acento-botones, 35%) !important

.BG31
  background-color: lighten($color-acento-contenido, 36%) !important

.BG00
  background-color: $color-sistema-h !important

.BG11
  background-color: transparentize($color-primario, 0.85) !important

.br01
  border-radius: 16px

.bloque-texto-a.color-primario
  background-color: $color-primario !important

.bloque-texto-b i, .bloque-texto-f__comillas i
  color: $color-acento-botones

.tarjeta-flip__img 
  background-size: contain
  background-repeat: no-repeat

.mbN01
  margin-bottom: -180px

.mtP01
  margin-top: 120px

.myN01
  margin-bottom: -60px
  margin-top: -100px

@media screen and (max-width: 991px)
  .mtP01
    margin-top: 180px

  .myN01
    margin-bottom: 0px
    margin-top: 0px

.tabs-a.color-acento-contenido .tabs-a__tab__selected
  color: $white !important

.tabs-a__tab
  background-color: $color-sistema-h

.CT10
  li
    i
      color: $color-primario !important

@media screen and (max-width: 991px)
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    top: 102% !important

.slyder-a__bullets
  bottom: 0px

.BGYenny, .BG10, .bloque-texto-a.color-primario::before, .bloque-texto-b.color-primario::before, .cajon.color-primario, .bloque-texto-f.color-secundario::before
  background-color: #E2F6FF !important

.BGYenny02
  background-color: #F3F9FF !important

.titulo-principal__numero
  background-color: $color-acento-botones !important